[Reference](https://medium.com/@viritaromero/web-scraping-5k-race-results-with-python-and-beautifulsoup-d08eba5624eb)

In [12]:
import pandas as pd
import numpy as np

from urllib.request import urlopen
from bs4 import BeautifulSoup

import re

In [3]:
url = "http://www.hubertiming.com/results/2018CRFH"
html = urlopen(url)

In [4]:
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [5]:
title = soup.title
print(title)
text = soup.get_text()

<title>Race results for the 2018 Champions Run For Heroes!</title>

In [6]:
soup.find_all('a')

[<a href="mailto:timing@hubertiming.com">timing@hubertiming.com</a>,
 <a href="https://www.hubertiming.com">Huber Timing Home</a>,
 <a class="btn btn-primary btn-lg" href="/results/2018CRFH10K" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> 10K</a>,
 <a class="btn btn-primary btn-lg" href="/results/2018CRFHHalfMile" role="button" style="margin: 0px 0px 5px 5px"><i aria-hidden="true" class="fa fa-user"></i> Kids Half Mile</a>,
 <a class="btn btn-primary btn-lg" href="/results/summary/2018CRFH" role="button" style="margin: 0px 0px 5px 5px"><i class="fa fa-stream"></i> Summary</a>,
 <a id="individual" name="individual"></a>,
 <a data-url="/results/2018CRFH" href="#tabs-1" id="rootTab" style="font-size: 18px">5K Results</a>,
 <a href="https://www.hubertiming.com/"><img height="65" src="https://www.hubertiming.com//sites/all/themes/hubertiming/images/clockWithFinishSign_small.png" width="50"/>Huber Timing</a>,
 <a href="https://facebook.com/hubertiming/"><img src="https://www.hubertiming.com/results/FB-f-Logo__blue_50.png"/></a>,
 <a class="small" id="bestFeatureEver" style="color:#007bff">Dark Mode</a>]

In [7]:
all_links = soup.find_all("a")
for link in all_links:
    print(link.get("href"))

mailto:timing@hubertiming.com
https://www.hubertiming.com
/results/2018CRFH10K
/results/2018CRFHHalfMile
/results/summary/2018CRFH
None
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/
None

In [8]:
rows = soup.find_all('tr')
print(rows[:10])
#We are printing the first 10 rows.

[<tr colspan="2">
<b>5K:</b>
</tr>, <tr>
<td>Finishers:</td>
<td>73</td>
</tr>, <tr>
<td>Male:</td>
<td>23</td>
</tr>, <tr>
<td>Female:</td>
<td>50</td>
</tr>, <tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>State</th>
<th>Chip Pace</th>
<th>Chip Time</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>, <tr data-bib="36">
<td>1</td>
<td>36</td>
<td>

                    PEDRO CASTANEDA JR

                </td>
<td>M</td>
<td>26</td>
<td>SALEM</td>
<td>OR</td>
<td>6:35</td>
<td>20:25</td>
<td>

                    1 of 23

                </td>
<td>M 25-29</td>
<td>

                    1 of 2

                </td>
<td>0:14</td>
<td>20:39</td>
</tr>, <tr data-bib="41">
<td>2</td>
<td>41</td>
<td>

                    RYAN FRICKE

                </td>
<td>M</td>
<td>32</td>
<td>LAFAYETTE</td>
<td>OR</td>
<td>6:56</td>
<td>21:29</td>
<td>

                    2 of 23

                </td>
<td>M 30-34</td>
<td>

                    1 of 5

                </td>
<td>0:07</td>
<td>21:36</td>
</tr>, <tr data-bib="101">
<td>3</td>
<td>101</td>
<td>

                    KODY QUINLAN

                </td>
<td>M</td>
<td>30</td>
<td>MCMINNVILLE</td>
<td>OR</td>
<td>7:45</td>
<td>24:02</td>
<td>

                    3 of 23

                </td>
<td>M 30-34</td>
<td>

                    2 of 5

                </td>
<td>0:04</td>
<td>24:06</td>
</tr>, <tr data-bib="27">
<td>4</td>
<td>27</td>
<td>

                    WENDY AUTENCIO

                </td>
<td>F</td>
<td>51</td>
<td>MCMINNVILLE</td>
<td>OR</td>
<td>7:45</td>
<td>24:03</td>
<td>

                    1 of 50

                </td>
<td>F 50-54</td>
<td>

                    1 of 3

                </td>
<td>0:06</td>
<td>24:09</td>
</tr>, <tr data-bib="89">
<td>5</td>
<td>89</td>
<td>

                    JUSTIN ZEMLICKA

                </td>
<td>M</td>
<td>38</td>
<td>MCMINNVILLE</td>
<td>OR</td>
<td>7:47</td>
<td>24:09</td>
<td>

                    4 of 23

                </td>
<td>M 35-39</td>
<td>

                    1 of 3

                </td>
<td>0:07</td>
<td>24:16</td>
</tr>]

In [9]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td>73</td>, <td>32</td>, <td>

                    SHARON BUEHLER

                </td>, <td>F</td>, <td>63</td>, <td>MCMINNVILLE</td>, <td>OR</td>, <td>19:37</td>, <td>1:00:51</td>, <td>

                    50 of 50

                </td>, <td>F 60-64</td>, <td>

                    2 of 2

                </td>, <td>0:21</td>, <td>1:01:12</td>]

bs4.element.ResultSet

In [10]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[73, 32,

                    SHARON BUEHLER

                , F, 63, MCMINNVILLE, OR, 19:37, 1:00:51,

                    50 of 50

                , F 60-64,

                    2 of 2

                , 0:21, 1:01:12]

In [13]:
#First, we need to import the regular expressions moduleimport re

list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[73, 32,

                    SHARON BUEHLER

                , F, 63, MCMINNVILLE, OR, 19:37, 1:00:51,

                    50 of 50

                , F 60-64,

                    2 of 2

                , 0:21, 1:01:12]

str

In [14]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1                                   [Finishers:, 73]
2                                        [Male:, 23]
3                                      [Female:, 50]
4                                                 []
5  [1, 36, \r\n\r\n                    PEDRO CAST...
6  [2, 41, \r\n\r\n                    RYAN FRICK...
7  [3, 101, \r\n\r\n                    KODY QUIN...
8  [4, 27, \r\n\r\n                    WENDY AUTE...
9  [5, 89, \r\n\r\n                    JUSTIN ZEM...

In [15]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,[],None,None,None,None,None,None,None,None,None,None,None,None,None
1,[Finishers:,73],None,None,None,None,None,None,None,None,None,None,None,None
2,[Male:,23],None,None,None,None,None,None,None,None,None,None,None,None
3,[Female:,50],None,None,None,None,None,None,None,None,None,None,None,None
4,[],None,None,None,None,None,None,None,None,None,None,None,None,None
5,[1,36,\r\n\r\n PEDRO CASTANEDA J...,M,26,SALEM,OR,6:35,20:25,\r\n\r\n 1 of 23\r\n\r\n ...,M 25-29,\r\n\r\n 1 of 2\r\n\r\n ...,0:14,20:39]
6,[2,41,\r\n\r\n RYAN FRICKE\r\n\r...,M,32,LAFAYETTE,OR,6:56,21:29,\r\n\r\n 2 of 23\r\n\r\n ...,M 30-34,\r\n\r\n 1 of 5\r\n\r\n ...,0:07,21:36]
7,[3,101,\r\n\r\n KODY QUINLAN\r\n\...,M,30,MCMINNVILLE,OR,7:45,24:02,\r\n\r\n 3 of 23\r\n\r\n ...,M 30-34,\r\n\r\n 2 of 5\r\n\r\n ...,0:04,24:06]
8,[4,27,\r\n\r\n WENDY AUTENCIO\r\...,F,51,MCMINNVILLE,OR,7:45,24:03,\r\n\r\n 1 of 50\r\n\r\n ...,F 50-54,\r\n\r\n 1 of 3\r\n\r\n ...,0:06,24:09]
9,[5,89,\r\n\r\n JUSTIN ZEMLICKA\r...,M,38,MCMINNVILLE,OR,7:47,24:09,\r\n\r\n 4 of 23\r\n\r\n ...,M 35-39,\r\n\r\n 1 of 3\r\n\r\n ...,0:07,24:16]

In [16]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,],None,None,None,None,None,None,None,None,None,None,None,None,None
1,Finishers:,73],None,None,None,None,None,None,None,None,None,None,None,None
2,Male:,23],None,None,None,None,None,None,None,None,None,None,None,None
3,Female:,50],None,None,None,None,None,None,None,None,None,None,None,None
4,],None,None,None,None,None,None,None,None,None,None,None,None,None
5,1,36,\r\n\r\n PEDRO CASTANEDA J...,M,26,SALEM,OR,6:35,20:25,\r\n\r\n 1 of 23\r\n\r\n ...,M 25-29,\r\n\r\n 1 of 2\r\n\r\n ...,0:14,20:39]
6,2,41,\r\n\r\n RYAN FRICKE\r\n\r...,M,32,LAFAYETTE,OR,6:56,21:29,\r\n\r\n 2 of 23\r\n\r\n ...,M 30-34,\r\n\r\n 1 of 5\r\n\r\n ...,0:07,21:36]
7,3,101,\r\n\r\n KODY QUINLAN\r\n\...,M,30,MCMINNVILLE,OR,7:45,24:02,\r\n\r\n 3 of 23\r\n\r\n ...,M 30-34,\r\n\r\n 2 of 5\r\n\r\n ...,0:04,24:06]
8,4,27,\r\n\r\n WENDY AUTENCIO\r\...,F,51,MCMINNVILLE,OR,7:45,24:03,\r\n\r\n 1 of 50\r\n\r\n ...,F 50-54,\r\n\r\n 1 of 3\r\n\r\n ...,0:06,24:09]
9,5,89,\r\n\r\n JUSTIN ZEMLICKA\r...,M,38,MCMINNVILLE,OR,7:47,24:09,\r\n\r\n 4 of 23\r\n\r\n ...,M 35-39,\r\n\r\n 1 of 3\r\n\r\n ...,0:07,24:16]